.benefits.wrapper
    .benefits__small-header О нас
    .benefits__text.custom-text-large.wow.animate__animated.animate__fadeInLeft  Цифровые решения - это далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо пояс, ты предупредила.
    .benefits__block
        .benefits__item.wow.animate__animated.animate__fadeInUp
            span 150+
            p.custom-text Далеко-далеко за словесными горами.
        .benefits__item.wow.animate__animated.animate__fadeInUp
            span 50%
            p.custom-text Далеко-далеко за словесными горами.
        .benefits__item.wow.animate__animated.animate__fadeInUp
            span 60+
            p.custom-text Далеко-далеко за словесными горами.
        .benefits__item.wow.animate__animated.animate__fadeInUp
            span >6 
            p.custom-text Далеко-далеко за словесными горами.
        .benefits__item.wow.animate__animated.animate__fadeInUp
            span 15+ 
            p.custom-text Далеко-далеко за словесными горами.