@import "fonts"

body 
    font-family: 'Roboto', sans-serif
    background-color: green
    // background: url('@img/image.jpg')


@media (max-width: 768px) 
    body 
        background-color: red
    


@media (max-width: 768px) 
    h2 
        color: #fff
    
