// Color vars

$color-text: #1A1A1A
$color-text-light: #5c5c5c
$color-interaction: #012345
$color-accent: #92278f
$color-white: #FFFFFF
$color-opacity: #ffffff09
$color-gradient: linear-gradient(323.7deg,#92278f,#c6168d 57.99%,#ed1c24)
$color-bg: #f5f5f5
$color-bg-light: #fafafa
$color-bg-hover: #ececec

// Size screen

$xs: 575px
$sm: 768px
$md: 991px
$lg: 1199px

// vars

$border: 7px

html, body, ul, li, p, div, form
    margin: 0
    padding: 0
