.sidebar
    ul.sidebar__link
        li
            a(href="").nav__link.custom-text Пункт 1
        li
            a(href="").nav__link.custom-text Пункт 2
        li
            a(href="").nav__link.custom-text Пункт 3
        li
            a(href="").nav__link.custom-text Пункт 4