mixin accordion
    .accordion
        .accordion__header 
            h1 Далеко-далеко, за.
            <svg class="accordion__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        .accordion__body.custom-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большого по всей парадигматическая великий курсивных если которое. Своих свою встретил коварных, дал живет алфавит рукопись парадигматическая языком, жизни инициал лучше!


.wrapper
    .directions-wrapper.wow.animate__animated.animate__fadeInUp
        .benefits__small-header Наши направления
        .directions 
            +accordion
            +accordion
            +accordion