.team.wrapper
    .team__text
        h1.custom-text-large.wow.animate__animated.animate__fadeInUp Давайте начнем работу над нашими проектами вместе
        p.custom-text.wow.animate__animated.animate__fadeInUp Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
        button.button.button-accent.wow.animate__animated.animate__fadeInUp Написать нам
    .team__img.wow.animate__animated.animate__fadeInUp
        img(src="@img/svg/Discussion.svg")