footer.footer.wrapper
    .footer__logo-block.custom-text
        p Цифровые решения
        p Далеко-далеко за словесными горами в стране гласных и согласных.
    .footer__link-block 
        ul.footer__list
            li 
                a(href="").footer__link.custom-text.custom-text Ссылка 1
            li 
                a(href="").footer__link.custom-text.custom-text Ссылка 2
            li 
                a(href="").footer__link.custom-text.custom-text Ссылка 3
            li 
                a(href="").footer__link.custom-text.custom-text Ссылка 4
    .footer__mail-block 
        p.custom-text Вопросы и предложения
        a(href="mailto:test").footer__link.custom-text strana@strana.ru