.wrapper
    .contact-wrapper
        .benefits__small-header Наши направления
        .contact 
            .contact__text 
                h2 Text
            .contact__img
                img(src="@img/").logo__img

