html 
    head 
        link(href="css/style.min.css")
        include blocks/head
    body
        include blocks/header/header

        h2 Блоки

        include blocks/footer/footer
        script(src="js/app.min.js")