html 
    head 
        link(href="css/style.min.css")
        include html/head
    body
        include html/header
        main.page 
            h2 main
            img(src="@img/image.jpg")
        include html/footer
        script(src="js/app.min.js")